In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Acapulco,MX,2022-09-12 22:24:37,16.8634,-99.8901,85.82,66,75,8.05
1,1,East London,ZA,2022-09-12 22:29:13,-33.0153,27.9116,57.29,63,15,10.69
2,2,Kapaa,US,2022-09-12 22:29:14,22.0752,-159.3190,85.19,69,0,11.50
3,3,Biak,ID,2022-09-12 22:29:14,-0.9131,122.8766,74.55,87,20,5.75
4,4,Astoria,US,2022-09-12 22:29:14,46.1879,-123.8313,69.69,71,100,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Acapulco,MX,2022-09-12 22:24:37,16.8634,-99.8901,85.82,66,75,8.05
2,2,Kapaa,US,2022-09-12 22:29:14,22.0752,-159.3190,85.19,69,0,11.50
7,7,Makakilo City,US,2022-09-12 22:29:15,21.3469,-158.0858,86.32,57,100,12.66
10,10,Atuona,PF,2022-09-12 22:29:16,-9.8000,-139.0333,76.60,77,19,18.52
19,19,Eureka,US,2022-09-12 22:29:19,40.8021,-124.1637,85.75,77,68,1.99
26,26,Chepo,PA,2022-09-12 22:29:21,9.1667,-79.1000,84.00,89,98,4.50
29,29,Pedernales,DO,2022-09-12 22:29:22,18.0384,-71.7440,84.52,69,93,2.71
32,32,Cansahcab,MX,2022-09-12 22:29:22,21.1667,-89.1000,82.29,78,100,4.88
36,36,Avarua,CK,2022-09-12 22:29:23,-21.2078,-159.7750,78.85,69,20,19.57
38,38,Katsuura,JP,2022-09-12 22:29:24,35.1333,140.3000,77.50,89,97,11.97

In [17]:
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Acapulco      MX     85.82  16.8634  -99.8901
2           Kapaa      US     85.19  22.0752 -159.3190
7   Makakilo City      US     86.32  21.3469 -158.0858
10         Atuona      PF     76.60  -9.8000 -139.0333
19         Eureka      US     85.75  40.8021 -124.1637
26          Chepo      PA     84.00   9.1667  -79.1000
29     Pedernales      DO     84.52  18.0384  -71.7440
32      Cansahcab      MX     82.29  21.1667  -89.1000
36         Avarua      CK     78.85 -21.2078 -159.7750
38       Katsuura      JP     77.50  35.1333  140.3000

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Acapulco,MX,85.82,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,Kapaa,US,85.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Makakilo City,US,86.32,21.3469,-158.0858,Marriott's Ko Olina Beach Club
10,Atuona,PF,76.60,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
19,Eureka,US,85.75,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
...,...,...,...,...,...,...
558,Umm Kaddadah,SD,80.92,13.6017,26.6876,
565,Tiarei,PF,82.42,-17.5333,-149.3333,Le Rocher de Tahiti
567,Linqiong,CN,75.02,30.4159,103.4609,Tianlun Tanxianglou Hotel
570,Panalingaan,PH,80.10,8.7842,117.4231,I Love Panalingaan View Deck
574,Half Moon Bay,US,83.88,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]